<!DOCTYPE html>
<html lang="en">
<head>
<!--    container for metadata (is not displayed on the page
        title, styles(css), link, scripts, meta and other -->
    <meta charset="UTF-8">
    <title>HTML Review</title>
</head>
<body>

<b>Welcome to Java Developer course</b>

<h1 align="center" style="color: blue">Spring boot</h1>
<h2>Spring boot</h2>
<h3>Spring boot</h3>
<h4>Spring boot</h4>
<h5>Spring boot</h5>

<img src="springboot.png" alt="Spring boot image">

<!-- ul : unordered lis -->
<ul>
    <li>JAVA</li>
    <li>MVC</li>
    <li>ORM</li>
</ul>

<a href="https://cydeo.com">Cydeo</a>
<br>
<br>

<table>
    <tr>
        <td>Firstname</td>
        <td>Lastname</td>
        <td>Salary</td>
    </tr>
    <tr>
        <td>Mike</td>
        <td>Smith</td>
        <td>12000</td>
    </tr>
</table>
<br>
<label>Username:</label>
<input type="text" name="username">
<br>
<label>Password:</label>
<input type="password" name="password">
<br>
<textarea name="comments" id="" cols="30" rows="10"></textarea>
<br>

<label>Please select your gender</label>
<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="female">Female
<input type="radio" name="gender" value="other">Other
<br>

<label>Please select your favorite courses</label>
<input type="checkbox" name="course" value="spring">Spring
<input type="checkbox" name="course" value="DS">DS
<input type="checkbox" name="course" value="Java">Java
<br>

<label>Select your program</label>
<select>
    <option value="us_sdet">US SDET</option>
    <option value="eu_sdet">EU SDET</option>
    <option value="us_jd">US JD</option>
    <option value="jd_al">JD AL</option>
</select>
<br>
<br>
<form action="#" method="get">
    Firsname: <input type="text" name="first_name">
    <br>
    Lastname: <input type="text" name="last_name">
    <br>
    <input type="button" value="submit">
</form>
<br>
<br>
<div style="background-color: aqua">
    <h3>Java Developer Course</h3>
    <ul>
        <li>Spring</li>
        <li>Data Structure</li>
    </ul>
</div>

</body>
</html>